<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./vendor/autoload.php">

  <testsuites>
    <testsuite name="PHP Casper Wrapper">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./</directory>
      <exclude>
        <directory>./vendor</directory>
        <directory>./Tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>